<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 2、登录，注册 -->
	<servlet>
		<display-name>登录</display-name>
		<servlet-name>A_LoginServlet</servlet-name>
		<servlet-class>cn.tedu.servlet.A_LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>A_LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>注册</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.tedu.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping> 
	
	 <servlet>
	 <display-name>主页设置</display-name>
    <servlet-name>MainSevlet</servlet-name>
    <servlet-class>cn.tedu.servlet.MainSevlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MainSevlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
	 <display-name>列表页面设置</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/main/booklist</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
	 <display-name>购物车页面设置</display-name>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/shopping</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
	 <display-name>购物车页面设置2</display-name>
    <servlet-name>SaveShoppingSerlet</servlet-name>
    <servlet-class>cn.tedu.servlet.SaveShoppingSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveShoppingSerlet</servlet-name>
    <url-pattern>/saveshopping</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
	 <display-name>订单页面设置</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>cn.tedu.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
</web-app>
